<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/profile" class="btn btn-danger"><span class="fa fa-google-plus"></span> Profile Test</a>
  </body>
</html>
