<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <h1>The Profile</h1>
    <h1><%= user.facebook.id %></h1>
    <h1><%= user.twitter.id %></h1>
    <h1><%= user.google.id %></h1>
    <% include partials/footer.ejs %>
  </body>
</html>
