$backgroundColor: lightblue;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
}
.btn-facebook {
  margin-right: 20px;
}

a {
  color: #00B7FF;
}